fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-google-genai
langgraph
faiss-cpu
pypdf
tiktoken
langchain-community
httpx
langchain-experimental
pydantic[email]
anthropic>=0.20.0
openai>=1.12.0